.App {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgb(22, 22, 22);
  color: white;
}

.calc-main {
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  z-index: 10;
  overflow: hidden;
  width: 300px;
  border-radius: 16px;
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.button-row {
  display: flex;
}
